.menu{
    width: 100%;
    height: 60px;
    background-color:white;
}
/*左上標題*/
.menu p{ 
    font-family: arial;
    color:#222;
    font-size: 35px; /*字體大小*/
    line-height: 55px; /*文字高度*/
    float:left;
    padding: 0px 40px; /*左右間隔20px*/
}
.menu ul{
    float: right;
    margin-right: 15px;
}
.menu ul li{
    width: 150px;
    height:60px;
    float: left;
    list-style-type: none;/*ul風格no*/
    position: relative;
    text-align: center;
}
.menu ul li:hover{
    background-color: brown;
}
.menu ul li a{
    display:block; /*方塊*/
    font-family: arial;
    color:#222;
    font-size: 20px; /*字體大小*/
    padding: 16px 20px;
    text-decoration: none;/*移除文字底線*/
}
.menu ul li ul{
    display:none;
    position: absolute;
    background-color: white;
    width: 130px;
    padding:10px;
    border-radius: 0px 0px 4px 4px;/*選單下邊緣改圓邊*/
} 
.menu ul li:hover ul {
    display: block;
}
.menu ul li ul li{
    text-align: center;
    height: 43px;
    width: 130px;
    border-radius: 4px;
} 
.menu ul li ul li a{
    padding: 9px 10px; /*縮小選單間距*/
} 
.menu ul li ul li a:hover{
    background-color: #f3f3f3ce;
} 






*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(img/1233.jpg);
    /*background-color: blanchedalmond;*/
    background-size: cover;
}